/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 2022. gada 14. marts, 19:08:21
    Author     : BigToms
*/
body {
  background-color: white; color: blue;
}

h2 {
  color: purple;
}

